/*ejemplo de template row*/

.css--gridTemplateRows--ejemplo{
    display: grid;
    grid-template-rows: 150px 150px 150px 150px;
}
.css--gridTemplateRows--ejemplo div{
    border: 2px solid #000;
}



/*ejemplo de grid templat ecolumns*/


.css--gridTemplateColumns--ejemplo{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
}
.css--gridTemplateColumns--ejemplo div{
    border: 2px solid #000;
}


/*ejemplo de fr*/
.css--gridTemplatFr--ejemplo{
    display: grid;
    height: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.css--gridTemplatFr--ejemplo div{
    border: 2px solid #000;
}