.css--orderContent--ejemplo{
    display: flex;
    background-color: #000;
    border: 2px solid #87d10f;
}
.css--orderContent--caja1--ejemplo{
    width: 20%;
    color: #87d10f;
    order: 2;
    margin: 15px;
    border: 2px solid #ff0000;
}
.css--orderContent--caja2--ejemplo{
    width: 20%;
    color: #87d10f;
    order: 1;
    margin: 15px;
    border: 2px solid #ff0000;
}
.css--orderContent--caja3--ejemplo{
    width: 20%;
    color: #87d10f;
    order: 4;
    margin: 15px;
    border: 2px solid #ff0000;
}
.css--orderContent--caja4--ejemplo{
    width: 20%;
    color: #87d10f;
    order: 3;
    margin: 15px;
    border: 2px solid #ff0000;
}