/*estilos del contenedor principal*/
.codigoContent{ /*contenedor principal*/
    position: relative;
}
.codigoContent pre{ /*contenedor del codigo resaltado*/
    margin: 0 !important;
    border: .8px solid #545454 !important;
}
/*fin de los estilos principales*/

/*estilos del boton para copiar*/
.codigo__btnCopy{
    color: #E0E0E0;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.2em;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 4px;
}

@media (min-width: 858px){
    .codigo__btnCopy{
        cursor: pointer;
    }
}
/*fin de los estilos del boton para copiar*/ 


/*contenedor del mensaje de copiado*/
.codigo__msgCopyContent{ /*contenedor del mensaje*/
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000046;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    pointer-events: none;
}
.codigo__msgCopy{ /* mensaje*/
    color: #E0E0E0;
    background-color: #1E1E1E;
    font-size: 1.2em;
    padding: 8px;
    border-radius: 8px;
    user-select: none;
}
/*fin de los estilos del contenedor de copiado*/