/*justify items*/

.css--alineacionGridJustifyItem--ejemplo {
    background-color: #646158;
    border: 2px solid #87d10f;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    justify-items: end;
}
.css--alineacionGridJustifyItem--ejemplo div {
    padding: 15px;
    background-color: #00000066;
    border: 2px solid #000;
    color: #fff;
}


/* align_item */
.css--alineacionGridAlignItem--ejemplo {
    background-color: #646158;
    border: 2px solid #87d10f;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    align-items: center;
}

.css--alineacionGridAlignItem--ejemplo div{
    border: 1px solid #000;
}



/*justify content*/
.css--alineacionGridJustifyContent--ejemplo{
    background-color: #646158;
    border: 2px solid #87d10f;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    justify-content: center;
}
.css--alineacionGridJustifyContent--ejemplo div{
    border: 1px solid #000;
}


/*align content*/
.css--alineacionGridAlignContent--ejemplo{
    background-color: #646158;
    border: 2px solid #87d10f;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    height: 100%;
    align-content: center;
}
.css--alineacionGridAlignContent--ejemplo div{
    border: 1px solid #000;
}



/* align self */
.css--alineacionGridSelf--ejemplo {
    background-color: #646158;
    border: 2px solid #87d10f;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.css--alineacionGridSelf--ejemplo div {
    padding: 15px;
    background-color: #00000066;
    border: 2px solid #000;
    color: #fff;
}

.css--alineacionGridSelf--ejemplo div:nth-child(1) {
    align-self: start;
    justify-self: start;
}

.css--alineacionGridSelf--ejemplo div:nth-child(5) {
    align-self: center;
    justify-self: end;
}

.css--alineacionGridSelf--ejemplo div:nth-child(6) {
    align-self: center;
    justify-self: start;
}

.css--alineacionGridSelf--ejemplo div:nth-child(9) {
    align-self: end;
    justify-self: end;
}