.menuContent{ /*contenedor del menu*/
    background-color: #12182c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 2;
}


/*estilos del logo*/
.menuContent__logo{ /*contenedor del logo*/
    width: 45px;
    height: 45px;
}
.menuContent__logo img{
    width: 100%;
    height: 100%;
}

/*estilos del icono de menu*/
.menuContent__icon{/*contenedor de icono de menu*/
    background-color: transparent;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #125c70;
}


.menuContent__nav{ /*contenedor de la navegacion para moviles*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60%;
    background-color: #12182c;
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-height: 480px;
    padding-top: 50px;
    transition-duration: .3s;
    transform: translate(-100%,0);
    user-select: none;
}
.menuContent__navShow{
    transition-duration: .3s;
    transform: translate(0,0);
}

.menuContent__nav--ul{ /*contenedor de los links*/
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.menuContent__nav--ul a{ /*links*/
    display: block;
    text-decoration: none;
    color: #125c70;
    font-size: 1.2em;
    width: 100%;
    padding: 8px;
}
.menuContent__nav--ul a:hover{
    background-color: #125c70;
    color: #12182c;
}


.menuContent__oscurecer{ /*oscurecer*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000062;
    opacity: 0;
    visibility: hidden;
    transition-duration: .3s;
}
.menuContent__oscurecerShow{
    opacity: 1;
    visibility: visible;
    transition-duration: .3s;
}


/*boton para cerrar el menu*/
.menuContent__nav--close{ /*boton para cerrar*/
    position: absolute;
    width: 100%;
    color: #125c70;
    left: 0;
    top: 8px;
    display: flex;
    justify-content: space-around;
}
.menuContent__nav--close img{
    width: 35px;
    height: 35px;
}
.menuContent__nav--close button{
    background-color: transparent;
    border: none;
    color: #125c70;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*estilos del inicio de sesion y de registro*/
.menuContent__nav--user{ /*contenedor de usuario y opciones*/
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #120b17;
    padding: 8px;
    position: relative;
}
.menuContent__nav--user img{ /*imagen de usuario*/
    width: 35px;
    height: 35px;
    border-radius: 1000px;
    pointer-events: none;
}
.menuContent__nav--user button{ /*boton de opciones*/
    background-color: transparent;
    color: #125c70;
    font-size: 1.3em;
    border: none;
}

.menuContent__nav--data{ /*contenedor de registro e inicio de sesion*/
    position: absolute;
    top: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.menuContent__nav--dataShow{
    display: flex;
}
.menuContent__nav--data a{ /*links de los datos*/
    text-decoration: none;
    font-size: 1em;
    color: #125c70;
    padding: 15px;
    padding-left: 8px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #120b17;
}
.menuContent__nav--data a:hover{
    background-color: #12182c;
}


@media(min-width: 850px){
    .menuContent__logo{ /*contenedor del logo*/
        order: 1;
    }
    .menuContent__icon{/*contenedor de icono de menu*/
        display: none;
    }
    .menuContent__nav{ /*contenedor de la navegacion para moviles*/
        order: 2;
        position: relative;
        height: auto;
        width: auto;
        padding: 0;
        min-height: auto;
        background-color: transparent;
        transform: none;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }
    .menuContent__nav--ul{ /*contenedor de los links*/
        flex-direction: row;
        gap: 25px;
    }
    .menuContent__nav--ul a{ /*links*/
        padding: 0;
        width: 80px;
        font-size: 1.3em;
        text-align: end;
    }
    .menuContent__nav--ul a:hover{ /*links*/
        background-color: transparent;
        color: #12435b;
    }
    .menuContent__oscurecer{ /*oscurecer*/
        opacity: 0;
        visibility: hidden;
    }
    /*boton para cerrar el menu*/
    .menuContent__nav--close{/*boton para cerrar*/
        display: none;
    }

    /*estilos para el inicio de sesion o registro*/
    .menuContent__nav--user{ /*contenedor de usuario y opciones*/
        width: auto;
        height: auto;
        gap: 18px;
        background-color: transparent;
        align-items: center;
    }
    .menuContent__nav--user button{ /*boton de opciones*/
        cursor: pointer;
        color: #125c70;
    }
    .menuContent__nav--user img{ /*imagen de usuario*/
        width: 25px;
        height: 25px;
    }
    .menuContent__nav--data{ /*contenedor de registro e inicio de sesion*/
        width: auto;
    }
    .menuContent__nav--data a{ /*links de los datos*/
        font-size: 1em;
        padding: 8px;
        width: 114px;
        background-color: #12182c;
    }
    .menuContent__nav--data a:hover{
        background-color: #120b17;
    }
}