*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #120b17;
    overflow: auto;
}


/*
    paleta de coloes
    #120b17
    #12182c
    #122c42
    #12435b
    #125c70
*/