*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*scrol,(desbordamiento en toda la web)*/
html{
    overflow-x: hidden;
    overflow-y: auto;
}
html::-webkit-scrollbar{
    display: none;
}
/*fin del desboramiento de toda la web*/


body{
    background-color: #121212;
}
main{
    position: relative;
    top: 50px;
    left: 0;
}


/*
    Paleta ajustada con colores más oscuros:
    Fondo principal: #121212
    Fondo submenús: #1E1E1E
    Fondo botones: #3A3A3A
    Hover botones: #505050
    Bordes: #2C2C2C
    Texto principal: #E0E0E0
    Texto secundario: #A0A0A0
    Links: #4A90E2
    Alertas/Éxito: #E53935 (rojo) / #43A047 (verde)

*/