/*contenedor del resumen*/
.content__resumen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15;
    overflow: auto;
    pointer-events: none;
}
.content__resumen::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: var(--scrollBackground);
}
.content__resumen::-webkit-scrollbar-thumb{
    background-color: var(--scrollChildBackground);
}

/*estilos del boton para abrir y cerrar los resumenes*/
.btnOpenHideResumen{
    border: none;
    outline: none;
    color: var(--mainText);
    position: fixed;
    top: auto;
    right: 15px;
    bottom: 15px;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 1000px;
    cursor: pointer;
    background-color: transparent;
    z-index: 1;
    pointer-events: auto;
    background-color: var(--buttonBackground);
    opacity: .5;
}
.btnOpenHideResumen:hover{
    opacity: 1;
}
/*fin de los estilos del boton para abrir y cerrar los resumenes*/


/*contenedor de la informacion*/
.content__resumen--info{
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    gap: 15px;
    padding: 15px;
    background-color: var(--backgroundTransparent);
    backdrop-filter: blur(4px);
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    position: relative;
}