/*estilos del contenedor principal*/
.contentLogin{ /*contenedor principal*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 480px;
    color: #E0E0E0;
}
/*fin de los etilos del contenedor principal*/


/*estilos del contenedor del formulario*/
.contentLoginForm{ /*contenedor del formulario*/
    width: 80%;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;

}
/*fin de los estilos del contenedor de formulario*/

/*estilos del contenedor de cada input*/
.contentLoginForm--contentInputs{ /*contenedor de cada input*/
    width: 100%;
    border: .8px solid #2C2C2C;
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
}
.contentLoginForm--contentInputs input{ /*estilos del cada input*/
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    color: #E0E0E0;
}
.contentLoginForm--contentInputs button{ /*botones de input*/
    position: absolute;
    right: 8px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #E0E0E0;
}
.contentLoginForm--contentInputs span{ /*iconos de los inputs*/
    position: absolute;
    left: 8px;
}
@media(min-width: 750px){
    .contentLoginForm--contentInputs button{ /*botones de input*/
        cursor: pointer;
    }
}
/*fin de los estilos del contenedor de cada input*/