.content--caja--unidadesFijasCss--1{
    display: flex;
    justify-content: start;
    padding: 8px;
    margin: 15px;
    border: 1px solid #000;
    width: 25%;
    height: 250px;
}
.content--caja--unidadesFijasCss--2{
    min-width: 200px !important;
    border: 1px solid #000;
    height: 35px;
    margin: 8px;
}