.contentRegister{ /*contenedor principal*/
    height: 100%;
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

/*contenedor del formulario*/
.contentRegister__form{ /*contenedor del formulario*/
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 80%;
    border-radius: 8px;
    background-color: #1E1E1E;
}
/*fin de los estilos del contenedor de formulario*/

/*estilos del titulo del formulario*/
.contentRegister__form--h1{
    color: #E0E0E0;
    text-align: center;
}
/*fin de los estilos del titulo del formulario*/

/*estilos del icono de cada campo*/
.iconRegistenForm{
    position: absolute;
    left: 8px;
    color: #E0E0E0;
}
/*fin de los estilos del icono de cada campo*/

/*estilos del contenedor de todos los inputs*/
.contentRegister__form--contentInput{ /*contnedor de cada input*/
    display: flex;
    position: relative;
    align-items: center;
    border: .8px solid #2C2C2C;
    border-radius: 4px;
    gap: 4px;
}
.contentRegister__form--contentInput__input{ /*input*/
    padding-top: 28px;
    padding-bottom: 2px;
    padding-right: 8px;
    padding-left: 35px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #E0E0E0;
    font-size: 1.2em;
}
/*fin de los estilos de inputs*/

/*estilos de los errores*/
.contentRegister__form--contentInputErr{
    color: #E53935;
    font-size: 1.2em;
    margin-top: 8px;
    text-align: center;
}
/*fin de los estilos de errores*/


/*estilos del titulo indicatvo para cada input*/
.contentRegister__form--contentInput__p{ /*titulo*/
    position: absolute;
    pointer-events: none;
    color: #E0E0E0;
    left: 35px;
    transform: translate(0,0);
    font-size: 1.2em;
    transition-duration: .3s;
}
.contentRegister__form--contentInput__p--up{ /*mover el parrafo hacia arriba*/
    transform: translate(0,-10px);
    transition-duration: .3s;
}
/*fin de los estilos de titulo indicativo*/

/*estilos del boton para borrar inputs*/
.contentRegister__form--contentInput__btnDel{
    background-color: transparent;
    padding: 8px;
    border: none;
    color: #E0E0E0;
    font-size: 1.2em;
}
/*fun de los estilos para borrar inputs*/

/*estilos del link para ir al login*/
.contentRegister__form--contentLink{ /*contenedor del link para login*/
    display: flex;
    justify-content: center;
}
.contentRegister__form--contentLink a{ /*link para irse al login*/
    color: #4A90E2;
    text-decoration: none;
    font-size: 1.2em;
}
/*fin del estilo del link para ir a login*/



/*estilos del boton para registrarse*/
.contentRegister__form--btnRegister{ /*boton para registrarse*/
    padding: 15px;
    background-color: #3A3A3A;
    border-radius: 8px;
    color: #E0E0E0;
    font-size: 1.2em;
    border: none;
    transition-duration: .3s;
}
.contentRegister__form--btnRegister:hover{ /*hover del boton para registrarse*/
    background-color: #505050;
    transition-duration: .3s;
}
/*fin de klos estilos para el boton de registrarse*/



@media(min-width: 850px){
    /*contenedor del formulario*/
    .contentRegister__form{ /*contenedor del formulario*/
        width: 450px;
    }
    /*fin de los estilos del contenedor de formulario*/

    /*estilos del boton para borrar inputs*/
    .contentRegister__form--contentInput__btnDel{
        cursor: pointer;
    }
    /*fun de los estilos para borrar inputs*/

    /*estilos del boton para registrarse*/
    .contentRegister__form--btnRegister{ /*boton para registrarse*/
        cursor: pointer;
    }
    /*fin de klos estilos para el boton de registrarse*/
}