.texto{
    color: #E0E0E0;
    font-size: 1.2em;
    white-space: pre-wrap;
}
.textoLink {
    color: #E0E0E0;
    text-shadow: 0 0 4px #ffffff; /* Corrección */
    font-size: 1.3em;
    text-decoration: none;
}
