.titulo{
    font-size: 1.2em;
    color: #E0E0E0;
    display: flex;
    justify-content: center;
}
.subtitulo{
    font-size: 1.4em;
    color: #E0E0E0;
    display: flex;
    justify-content: start;
}