.titulo{
    font-size: .8em;
    color: #E0E0E0;
    display: flex;
    justify-content: center;
    text-align: center;
}
.subtitulo{
    font-size: 1.2em;
    color: #E0E0E0;
    display: flex;
    justify-content: start;
}